<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li><a href="#" class="brand-name"> Bliimo Admin Module </a></li>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <div class="uk-inline user-div">
          <a class="uk-link uk-padding-small mebackoffice-nav" href=""><span uk-icon="icon: user; ratio: .8" class="uk-margin-small-right uk-align-center"></span><span>Me Backoffice</span><span uk-icon="icon: triangle-down"></span></a>
          <div uk-drop="mode: click" class="uk-margin-remove-top uk-width-small">
            <div class="uk-card uk-card-body uk-card-default uk-margin-remove-top uk-margin-remove-right uk-margin-remove-bottom">
              <%= link_to destroy_user_session_path, :method => :delete, class: 'logout-nav' do %><%= image_tag('poweroff.png', width:'18', class: 'uk-margin-small-left uk-margin-small-right poweroff-icon') %><span>Logout</span><%end%>
            </div>
          </div>
        </div>
        <button class="uk-button uk-button-default  uk-hidden" type="button" uk-toggle="target: #offcanvas-nav">
          <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <rect y="9" width="20" height="2"></rect>
            <rect y="3" width="20" height="2"></rect>
            <rect y="15" width="20" height="2"></rect>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</nav>
