<% content_for :header do %> <%= render 'shared/menu' %> <% end %> <% content_for :side do %> <%= render 'shared/side' %> <% end %> <% content_for :content do %>
<div class="main uk-section">
  <div class="uk-container uk-container-expand uk-position-relative uk-margin-large-top uk-padding-small">
    <div class="uk-grid uk-margin-remove">
      <div class="uk-padding-remove"><h2>Food</h2></div>
    </div>
    <div class="uk-grid uk-margin-small-bottom uk-margin-remove-top uk-margin-remove-right uk-margin-remove-left breadcrumb uk-border-rounded">
      <div class="uk-padding-small">
        <ul class="uk-breadcrumb">
          <li><%= image_tag('dashboard-icon.jpg', class: 'uk-icon-image') %><a href="/" class="uk-margin-small-left">Dashboard</a></li>
          <li><span uk-icon="file-edit"></span><a href="#" class="uk-margin-small-left">Food</a></li>
        </ul>
      </div>
    </div>
    <div class="uk-grid uk-margin-remove uk-width-1-1">
      <div class="uk-padding-remove uk-width-1-1">
        <div class="uk-panel uk-margin-remove uk-border-rounded localities-panel">
          <div class="uk-padding-small localities-panel-header">
            <span>Food</span> <button class="uk-button-primary uk-button-small uk-float-right uk-border-rounded"><span uk-icon="icon: plus; ratio: .8"></span><span> Add New Food</span></button>
          </div>
          <div class="uk-padding small table-content-container">
            <div class="content-well p-x-2 p-y-2">
              <div class="uk-container">
                <table class="uk-table uk-table-striped uk-table-middle uk-table-divider uk-table-large localities-table" data-uk-scrollspy="cls:uk-animation-fade;">
                  <thead>
                    <tr>
                      <th class="uk-text-capitalize">Title</th>
                      <th class="uk-text-capitalize">Category</th>
                      <th class="uk-text-capitalize">SubCategory</th>
                      <th class="uk-text-capitalize">Price</th>
                      <th class="uk-text-capitalize">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="uk-padding-remove">
                      <td class="uk-text-bold">Adobo</td>
                      <td></td>
                      <td></td>
                      <td>10,000</td>
                      <td>
                        <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                      </td>
                    </tr>
                    <tr class="uk-padding-remove">
                      <td class="uk-text-bold">Pizza</td>
                      <td></td>
                      <td></td>
                      <td>449</td>
                      <td>
                        <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                      </td>
                    </tr>
                    <tr class="uk-padding-remove">
                      <td class="uk-text-bold">Lasagna</td>
                      <td></td>
                      <td></td>
                      <td>1,250</td>
                      <td>
                        <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                      </td>
                    </tr>
                    <tr class="uk-padding-remove">
                      <td class="uk-text-bold">Salad</td>
                      <td></td>
                      <td></td>
                      <td>10,000</td>
                      <td>
                        <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                      </td>
                    </tr>
                    <tr class="uk-padding-remove">
                      <td class="uk-text-bold">Spaghetti</td>
                      <td></td>
                      <td></td>
                      <td>800</td>
                      <td>
                        <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                      </td>
                    </tr>
                    <tr class="uk-padding-remove">
                      <td class="uk-text-bold">Pancit</td>
                      <td></td>
                      <td></td>
                      <td>5,000</td>
                      <td>
                        <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                      </td>
                    </tr>
                    <tr class="uk-padding-remove">
                      <td class="uk-text-bold">Barbeque</td>
                      <td></td>
                      <td></td>
                      <td>5,000</td>
                      <td>
                        <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                      </td>
                    </tr>
                    <tr class="uk-padding-remove">
                      <td class="uk-text-bold">Tinola</td>
                      <td></td>
                      <td></td>
                      <td>5,000</td>
                      <td>
                        <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
