/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

$primary: #E2DFDF
$secondary: #222
$tertiary: #4444e4
$background: #fff
$accent: #4444e4
$inactive: #8e8eec
$link: #ffffff
$hover: #0f0f6c
$active: #080840
$focus: #59e8b3
$content: #f8f9fb
$grayfont: #999
$borderdefault: #e5e5e5
$experiencehover: #444
$rowbookingborder: #ece9ea
$rowbookingbackground: #f7f7f9
$bookingitemborder: #ccc
$earninglistborder: #d3d3d3
$partnersbtnbackground: #00bd29
$uklabelbackground: #e8ecf1
$uklabelcolor: #656565
$ukbtnmediumbackground: #1ea2bb
$ukselectcolor: #8a8a8a
$forminputimagebackground: #ecf4f7
$forminputimageborder: #a9a9a9
$btncolor: #8f8f8f
$activelinkbackground: #026b84
$uktabcolor: #636363
$listingbackground: #a3c105
$featureborder: #c2c2c2
$ukbadgebackground: #edf4f7
$ukbadgecolor: #828282
$borderbottom: #5bc0de
$breadcrumbbackground: #eceeef
$partnersbtnhover: #009f22
$btninfo: #5bc0de

@import "uikit/variables-theme.scss"
@import "uikit/mixins-theme.scss"
@import "uikit/uikit-theme.scss"

html
  background: $background

.navbar-container
  position: fixed
  width: 100%
  z-index: 999

.mebackoffice-nav
  color: $grayfont

.mebackoffice-nav:hover 
  color: white
  text-decoration: none

.user-div
  display: block

.poweroff-icon
  margin-bottom: 5px

.logout-nav
  color:  black

.logout-nav:hover
  color:  black

a:hover
  color:  black
  text-decoration: none

.uk-alert-danger 
  position: fixed
  top: 0px
  z-index: 999
  width: 100%
  left: 0px

.uk-navbar
  background: black !important
  padding: 0
  height: 55px

.brand-name
  color: white !important


.uk-navbar-nav > li > a , .uk-nav > li > a
  color: $grayfont
  text-transform: none
  font-size: 20px
  padding: 15px

.uk-navbar-nav > li > a , .uk-nav > li :hover
  color: white
  filter: contrast(-1)

.side-nav:hover
  background: $secondary

.side-nav-icons
  filter: contrast(0)

//menu

#burger
  padding-top: 4px

.bar-bottom 
  border-top: 1px solid white
  padding-top: 1em
  text-align: center

// create and move to cards sass

.uk-card 
  border-top: 2px solid
  position: relative
  -webkit-transition: box-shadow 0.15s ease-out
  transition: box-shadow 0.15s ease-out
  border-radius: 3px
  background: white
  margin: 1em

.uk-card:hover 
  box-shadow: 0 0 0 7px rgba(0,0,0,0.045)

.uk-card .uk-inline 
  z-index: 99

.uk-card .uk-card-footer 
  padding: 0.55rem 1rem

.uk-card .uk-card-header 
  padding: 0.55rem 1rem

.uk-card .cat-txt 
  font-weight: 600
  text-transform: uppercase
  font-size: 0.75rem
  letter-spacing: 0.01em

.uk-card-body
  padding: 1em

.uk-inline-clip.uk-transition-toggle
  text-align: center

// Listings

.uk-label 
  display: inline-block
  padding: 0 10px
  background: $uklabelbackground
  line-height: 1.5
  font-size: 12px
  color: $uklabelcolor
  vertical-align: middle
  white-space: nowrap
  border-radius: 2px
  text-transform: uppercase
  width: 12%
  text-align: center

.uk-child
  background: transparent
  text-transform: capitalize
  white-space: normal

.uk-button-default
  background-color: transparent
  color: $secondary
  border: 1px solid $borderdefault

.uk-button-add-listing
  margin-right: 5%
  width: 10%
  height: 35px
  margin-top: 3.5%

.uk-button-medium
  width: 30%
  margin-top: 25%
  margin-left: 5%
  background: $ukbtnmediumbackground

#listing_price
  padding: 10px 10px 10px 25px
  width: 75%

.static-value
  position: absolute
  left: 350px
  font-weight: bold
  color: $experiencehover
  top: 97px
  font-size: 15px

//  Add listing modal form
.uk-input-listing
    margin: 5%
    width: 80%
    height: 15px
    font-size: 15px
    padding: 10px

.uk-input-listing-small
  width: 15%

.uk-input-listing-large
  height: 180px
  width: 115%

.uk-select
  width: 85%
  height: 40px
  color: $ukselectcolor
  background: $link

.uk-select-small
  width: 60%
  margin: -5px

.select-small
  width: 55%

.uk-column
  margin: 10%

.form-input
  height: 275px
  width: 30%
  margin-left: auto
  left: auto
  right: auto
  float: left

.form-input-image
  background: $forminputimagebackground
  width: 65%
  border: 1px solid $forminputimageborder

.form-input-p
  background: white
  height: 60px
  border-bottom: 1px solid $forminputimageborder

.form-input-upload-button
  width: 30%
  margin: 2%
  color: $btncolor
  padding: 3px

.uk-modal-dialog
  height: 420px
  margin: 100px auto
  width: 80%
  top: 50px

.uk-modal-footer
  margin-top: 15px
  padding: 15px 30px
  border-top: 1px solid $borderdefault
  height: 35px

.uk-modal
  overflow-y: unset !important

.uk-tab li.uk-active a
  background: $activelinkbackground
  color: white !important

.uk-tab li a 
  color: $uktabcolor !important

.uk-button-listing
  background: $listingbackground
  width: 14%

.uk-switcher
  height: 270px

.uk-tab > li
  margin-bottom: -1px
  float: left
  width: 25%
  position: relative
  text-align: center

// feature dropdown
.feature-dropdown
  width: 25%
  height: 180px
  background: $link
  position: absolute
  border: 1px solid $featureborder
  margin: -1% 0 0% 1.5%
  overflow: overlay

.dropdown-tags
  width: 100%
  text-align: unset

//icon
.uk-icon
  margin: 0
  border: none
  border-radius: 0
  overflow: visible
  font: inherit
  color: inherit
  text-transform: none
  padding: 0
  background-color: transparent
  display: inline-block
  fill: currentcolor
  line-height: 0

.uk-modal-dialog > .uk-close:first-child
  margin: -10px -10px 0 0
  float: right

.uk-close:after
  display: none

.uk-badge
  margin-bottom: 3px
  margin-right: 2px
  padding: 0 12px
  background: $ukbadgebackground
  line-height: 30px
  color: $ukbadgecolor
  border-radius: 10px

.plus-icon
  position: relative
  font-size: 25px
  bottom: 45px
  float: right
  right: 32px

// edit form
.edit-form
  height: 460px
  margin: auto
  width: 80%
  top: 50px
  position: relative
  box-sizing: border-box
  padding: 20px
  max-width: calc(100% - 20px)
  background: $background

.edit-button
  position: absolute
  margin-top: 45px
  margin-left: -45px

// status select
.status-select
  position: absolute
  top: 15px
  right: 15px
  width: 10%
  height: 25px

.disabledbutton 
  pointer-events: none
  opacity: 0.4

span.head
  line-height: 80px

// links
.uk-actions a
  padding-right: 1em

//login email
#login .uk-input:focus
  background: 0,0
  border-bottom: 2px solid white


#login .uk-input
  background: 0 0
  border: none
  box-shadow: none
  border-bottom: 2px solid rgba(255, 255, 255, 0.5)
  color: $background
  border-radius: 0




//login button
#login .uk-button
  border-radius: 50px
  color: rgba(255, 255, 255, 0.8)
  background: $secondary
  border: 2px solid rgba(255, 255, 255, 0.8)
  font-size: 18px
  line-height: 40px
  text-transform: none

#login .uk-button:hover
  color: $background
  border: 2px solid white
  outline: none
  background-color: none

#login .uk-button-primary:active, .uk-button-primary.uk-active 
    background-color: none
    color: $background

#login .uk-button-primary:hover
  background-color: $secondary

// side nav

.uk-side
  position: fixed
  top: 54px
  bottom: 0
  box-sizing: border-box
  width: 250px !important
  padding: 0px 20px
  overflow: auto
  background: black

.side
  position: absolute
  right: 10px
  top: 10px

.main
  background: white

.uk-section
  padding: 20px

.main .uk-container
  @media (min-width:960px)
    padding: 0 3px
  @media (min-width:1200px)
    margin-left: 0px
    margin-right: 0px
    margin-top: 0px
  @media (min-width:1400px)
    margin-left: 0px
    margin-right: 0px
    margin-top: 0px

.uk-side+.main
  @media (min-width:640px)
    margin-left: 20px
  @media (min-width:960px)
    margin-left: 250px
  @media (min-width:1200px)
    margin-left: 250px
  @media (min-width:1400px)
    margin-left: 250px

.uk-form-select
  padding: 10px 30px 10px 5px
  font-size: 16px
  -webkit-appearance: none
  background: url(arrowdown.png) no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB))
  background-size: contain
  cursor: pointer

.experiences-category
  font-size: 20px
  color: $grayfont

.experiences-category:hover
  background: $experiencehover
  color: black

.active-page
  color: white !important
  background: $secondary

#active-page
  color: white !important
  background: $secondary

.active-expsubCat-page
  color: white !important
  background: $secondary

//responsive side nav
#burger-icon
  filter: invert(1)

#burger-button
  border: none

.experiences-category2
  font-size: 20px
  color: $grayfont !important

//dashboard

.row-bookings
  margin-left: 30px
  border-top: 1px solid $rowbookingborder
  border-bottom: 1px solid $rowbookingborder
  padding-top: 10px
  padding-bottom: 10px
  background-color: $rowbookingbackground

.booking-item
  padding-left: 10px
  border-right: 1px solid $bookingitemborder

.current-statement
  padding-left: 20px
  padding-right: 20px

.span-total-earnings
  color: black

.span-earnings
  color: black


.earning-list
  padding-top: 20px
  padding-bottom: 20px
  border: 1px solid $earninglistborder
  

.container-list
  padding-left: 20px
  padding-right: 20px
  

.container-list-item
  padding-left: 0px
  padding-top: 5px
  padding-bottom: 25px
  border-bottom: 1px solid $bookingitemborder
  
.uk-text-bold
  color: black

.earnings
  color: black

.active-date
  padding-top: 15px
  padding-bottom: 15px
  padding-left: 5px
  padding-right: 5px
  border: 1px solid $bookingitemborder

.border-bottom
  border-bottom: 4px solid $borderbottom

.active-date:hover
  background-color: $rowbookingbackground

.date
  color:  black
  font-size: 10px
  float: left

.daily-earning
  float: left

//localities
.breadcrumb
  background-color: $breadcrumbbackground

.localities-panel
  border: 1px solid $earninglistborder

.localities-panel-header
  border-bottom: 1px solid $earninglistborder
  background-color: $rowbookingbackground

.localities-table
  border-top: 1px solid $earninglistborder

//partners
.partners-input
  background: 0 0
  border: none
  box-shadow: none
  border-bottom: 2px solid $borderdefault
  color: $background
  border-radius: 0

.partners-dropdown
  background: $rowbookingbackground

.option-div-size
  width: 250px

.dropdown-option
  color: $grayfont

.partners-table
  padding-left: 15px
  padding-right: 15px
  padding-bottom: 15px
  height: 450px
  overflow: scroll

.partners-signin-button
  background-color: $partnersbtnbackground
  color: white

.partners-signin-button:hover
  background-color: $partnersbtnhover

.partners-eye-icon
  filter: invert(1)
  
.partners-updown-icon
  filter: invert(1)

//travel
.nav-border-right
  border-right: 1px solid $secondary

.travel-nav-link
  background: none
  color: $grayfont

.table-column-name
  font-weight: bold !important
  color: black !important

.table-content-container
  height: 450px
  overflow: scroll

.travel-active-link
  font-weight: bold
  color: blue

.unlock-button
  background: transparent
  border: none

.unlock-icon
  filter: contrast(0)
  
//transactions
.updown-image
  width: 12px

//admin edit page
.submit-button
  background: $btninfo
  color: white
  border-color: $btninfo
  
.cancel-button
  border: none

//experience page
#iconimg-output
  width: 200px
  height: 200px

#landingpageimg-output
  width: 230px
  height: 300px

#categorypageimg-output
  width: 230px
  height: 300px


//modal dialog
.experience-modal-dialog
  height: auto
  width: 800px

//themes breadcrumb
.themes-card
  background-image: image-url('travel.jpeg')
  background-repeat: no-repeat
  background-size: 100%
  filter: opacity(70%)

.themes-card:hover
  filter: opacity(50%)
  display: block

.themes-card:hover .theme-edit
  display: block

.theme-edit
  padding-top: 7px	
  padding-right: 7px
  position: absolute

.themeimage-output
  width: 360px
  height: 150px

//theme modal dialog
.theme-modal-dialog
  height: auto
  width: 500px

.theme-content-modal-dialog
  height: auto