<% content_for :header do %> <%= render 'shared/menu' %> <% end %> <% content_for :side do %> <%= render 'shared/side' %> <% end %> <% content_for :content do %>
<div class="main uk-section">
  <div class="uk-container uk-container-expand uk-position-relative uk-margin-large-top uk-padding-small">
    <div class="uk-grid uk-margin-remove">
      <div class="uk-padding-remove"><h2>Vouchers</h2></div>
    </div>
    <div class="uk-grid uk-margin-remove breadcrumb uk-border-rounded">
      <div class="uk-padding-small">
        <ul class="uk-breadcrumb">
          <li><%= image_tag('dashboard-icon.jpg', class: 'uk-icon-image') %><a href="/" class="uk-margin-small-left">Dashboard</a></li>
          <li><span uk-icon="file-edit"></span><a href="#" class="uk-margin-small-left">Vouchers</a></li>
        </ul>
      </div>
    </div>
    <div class="uk-grid uk-width-1-1 uk-margin-remove">
      <div class="uk-padding-small uk-width-1-1">
        <div class="uk-grid uk-margin-remove uk-width-1-1">
          <div class=" uk-margin-top uk-padding-remove"><span uk-icon="icon: search"></span></div>
          <div class="uk-inline uk-padding-small">
            <button class="uk-button uk-width-1-1 uk-padding-small uk-padding-remove-top uk-padding-remove-bottom uk-text-capitalize partners-dropdown" type="button">Search from<span uk-icon="icon: triangle-down" class="uk-margin-left"></span></button>
            <div uk-dropdown="mode: click">
              <li><a href="#" class="dropdown-option">Code</a></li>
              <li><a href="#" class="dropdown-option">Activity/Event</a></li>
              <li><a href="#" class="dropdown-option">Customer</a></li>
              <li><a href="#" class="dropdown-option">Amount</a></li>
              <li><a href="#" class="dropdown-option">Quantity</a></li>
              <li><a href="#" class="dropdown-option">Schedule</a></li>
              <li><a href="#" class="dropdown-option">Location</a></li>
              <li><a href="#" class="dropdown-option">Date Created</a></li>
              <li><a href="#" class="dropdown-option">Status</a></li>
            </div>
          </div>
          <div class="uk-form uk-form-width-medium uk-padding-small"><input class="uk-input partners-input" type="text" placeholder="Start typing here..." /></div>
          <div class="uk-inline uk-padding-small">
            <button class="uk-button uk-padding-small uk-padding-remove-top uk-padding-remove-bottom uk-text-capitalize partners-dropdown" type="button">Filters<span uk-icon="icon: triangle-down" class="uk-margin-left"></span></button>
            <div uk-dropdown="mode: click">
              <li><a href="#" class="dropdown-option">Code</a></li>
              <li><a href="#" class="dropdown-option">Activity/Event</a></li>
              <li><a href="#" class="dropdown-option">Customer</a></li>
              <li><a href="#" class="dropdown-option">Amount</a></li>
              <li><a href="#" class="dropdown-option">Quantity</a></li>
              <li><a href="#" class="dropdown-option">Schedule</a></li>
              <li><a href="#" class="dropdown-option">Location</a></li>
              <li><a href="#" class="dropdown-option">Date Created</a></li>
              <li><a href="#" class="dropdown-option">Status</a></li>
            </div>
          </div>
          <div class="uk-padding-small"><button class="uk-button-primary uk-border-rounded"><%= image_tag('updown.png', class: 'uk-icon-image partners-updown-icon')%></button></div>
        </div>
      </div>
    </div>
    <div class="uk-grid uk-margin-remove uk-width-1-1">
      <div class="uk-padding-remove uk-width-1-1">
        <div class="uk-panel uk-margin-remove uk-border-rounded localities-panel">
          <div class="uk-padding-small localities-panel-header"><span>Vouchers</span></div>
          <div class="uk-padding-small table-content-container">
            <div class="content-well p-x-2 p-y-2">
              <div class="uk-container uk-margin-remove">
                <table class="uk-table uk-table-striped uk-table-middle uk-table-divider uk-table-large localities-table" data-uk-scrollspy="cls:uk-animation-fade;">
                  <thead>
                    <tr>
                      <th class="uk-text-capitalize table-column-name">Code</th>
                      <th class="uk-text-capitalize table-column-name">Activity/Event</th>
                      <th class="uk-text-capitalize table-column-name">Customer</th>
                      <th class="uk-text-capitalize table-column-name">Amount</th>
                      <th class="uk-text-capitalize table-column-name">Quantity</th>
                      <th class="uk-text-capitalize table-column-name">Schedule</th>
                      <th class="uk-text-capitalize table-column-name">Location</th>
                      <th class="uk-text-capitalize table-column-name">Date Created</th>
                      <th class="uk-text-capitalize table-column-name">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="uk-padding-remove">
                      <td class="uk-text-bold">UMKLMS</td>
                      <td>Laser Tag Tournament</td>
                      <td>David Codilla</td>
                      <td>PHP1,750.00</td>
                      <td>1</td>
                      <td></td>
                      <td>4th level, <br> Market!<br> Market!,<br> Bonifacio<br> Global City,<br> Taguig, 1634,<br> Metro Manila,<br> Philippines</td>
                      <td>2018.11.06<br> 04:33 PM</td>
                      <td class="uk-text-bold uk-text-success">UNREDEEM</td>
                    </tr>
                    <tr class="uk-padding-remove">
                      <td class="uk-text-bold">UMKLMS</td>
                      <td>Laser Tag Tournament</td>
                      <td>David Codilla</td>
                      <td>PHP1,750.00</td>
                      <td>1</td>
                      <td></td>
                      <td>4th level, <br> Market!<br> Market!,<br> Bonifacio<br> Global City,<br> Taguig, 1634,<br> Metro Manila,<br> Philippines</td>
                      <td>2018.11.06<br> 04:33 PM</td>
                      <td class="uk-text-bold uk-text-success">UNREDEEM</td>
                    </tr>
                    <tr class="uk-padding-remove">
                      <td class="uk-text-bold">UMKLMS</td>
                      <td>Laser Tag Tournament</td>
                      <td>David Codilla</td>
                      <td>PHP1,750.00</td>
                      <td>1</td>
                      <td></td>
                      <td>4th level, <br> Market!<br> Market!,<br> Bonifacio<br> Global City,<br> Taguig, 1634,<br> Metro Manila,<br> Philippines</td>
                      <td>2018.11.06<br> 04:33 PM</td>
                      <td class="uk-text-bold uk-text-success">UNREDEEM</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
